@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0d253f;
  --tmdbLightGreen: rgb(30, 213, 169);
  --tmdbLightBlue: rgb(1, 180, 228);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.small-text {
  font-size: 0.8rem; /* Ajusta el tamaño de fuente según tus necesidades */
}
/* Navbar */
.bg-primary {
  background-color: var(--color-primary);
}

.language {
  width: 28px;
  height: 26px;
  align-content: center;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 3px 5px;
  transition: linear 0.1s;
  color: #fff;
  font-weight: 600;
  font-size: 0.8em;
  text-transform: uppercase;
}

.description {
  height: 90px !important;
  padding: 5px 10px 0 10px;
}

.description p {
  font-size: 14px;
}

.average {
  position: relative;
  color: #fff;
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: -35px;
  left: 13px;
  margin-bottom: -40px;
}

.average-rate {
  position: absolute;
  z-index: 6;
  background-color: none;
  border-radius: 50%;
  border: solid #fff 2px;
  width: 33px;
  height: 33px;
  margin: auto;
}

/* Charts */

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: none;
}

.box .percent {
  position: relative;
  width: 55px;
  height: 55px;
  top: -45px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1;
}

.box .percent svg circle {
  width: 50px;
  height: 50px;
  fill: #081c22;
  stroke-width: 5;
  stroke: black;
  transform: translate(2.5px, 2.5px);
  stroke-dasharray: 175;
  stroke-linecap: round;
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #234b2a;
}

.box .percent svg circle:nth-child(2) {
  /* stroke-dashoffset: calc(110 - (110 * 87) / 100); */
  stroke: #21d47c;
}

/* .box .percent:hover {
  transform: scale(1.1);
} */

.box .percent .number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  z-index: 2;
  color: white;
}

.percent .number p {
  font-size: 12px;
  z-index: 12;
}

.box .percent .number p span {
  font-size: -12px;
}

.box .text {
  padding: 10px 0 0;
  color: #999;
  font-weight: 700;
  letter-spacing: 1px;
}

/* SearchBAr */

.search {
  display: inline;
  max-width: 1400px;
  margin: 0 auto;
}

.search-form {
  position: relative;
  width: 100%;
}

.input-search {
  height: 46px;
  line-height: 46px;
  font-size: 1.1em;
  color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 30px;
  padding: 10px 20px;
}

.btn-search {
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1),
    rgba(1, 180, 228, 1)
  ) !important;
  color: #fff;
  height: 46px;
  padding: 10px 26px;
  border-radius: 30px;
  font-weight: bolder;
  margin-left: 10px;
}

/* Card */
.card {
  width: 300px !important;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* Details */

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.fullscreen-content {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: white;
  padding: 20px;
}
